* {
     padding: 0;
     margin: 0;
}


.main {
     font-family: 'Times New Roman', Times, serif;
}

.head {
     background-color: aqua;
     text-align: center;
     color: black;
     font-size: 32px;
     border: 5px solid black;
     margin: auto;
     padding: 50px;
     width: auto;
}

button {
     background-color: lightskyblue;
     font-weight: bold;
     font-size: larger;
     text-align: center;
}

button:hover {
     background-color: yellow;
}

.text-center {
     text-align: center;
     outline-style: solid;
     outline-width: 5px;
     background-color: darkgray;
     padding: 1px;
     margin: auto;
}

.ingredients-list, .directions-list {
     font-size: 22px;
     font-weight: bold;
     list-style-position: inside;
     width: 500px;
     border: 5px solid black;
     padding: 50px;
     margin: auto;
     background-color: darkgray;
     
}

.directions-list {
     list-style-type: upper-roman;
}

.ingredients, .directions {
     font-weight: 800;
     text-align: center;
     background-color: aqua;
     border: 2px solid black;
     margin: auto;
     padding: 2px;
     width: auto;

}

.top-pic {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 25%;
     border: 2px solid black;
}

.top-pic2 {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 10cm;
     height: 12cm;
}

.top-text {
     color: white;
     text-align: center;
     font-weight: bold;
     border: 1px solid blueviolet;
     background-color: black;
     margin-left: auto;
     margin-right: auto;
     width: 500px;
}

.main-list {
     list-style: none;
}

.footer-text {
     text-align: center;
}

.back-button {
     text-align: center;
     padding: 1px;
     margin: auto;
}
